

body {

	background-color:#CDC1C1;
	text-align: center;
}

h1 {

}
h2{
	font-style: italic;
	
}


p {
	border: 5px solid black;
	text-align: justify;
	color:black;
	font-weight:bold;
	padding: 70px 250px;
 }

